#### 1. 정답 : d

#### 2. 정답 : a

#### 3. 정답 : a

#### 4. 정답 : c

#### 5. 정답 : a

#### 6. 정답 : a

In [28]:
# 7번 문제
x = 'abcd'
for i in range(x):
    print(i)

TypeError: 'str' object cannot be interpreted as an integer

#### 7. 정답 : c

In [29]:
# 8번 문제
x = 'abcd'
for i in range(len(x)):
    print(i)

0
1
2
3

#### 8. 정답 : b

In [30]:
# 9번 문제
a=[1,2,3,4]
b=[sum(a[0:x+1]) for x in range(0,len(a))]
print(b)

[1, 3, 6, 10]

#### 9. 정답 : d

#### 10. 정답 : c

#### 11. 정답 : c

#### 12. 정답 : b

In [31]:
# 13번 문제
for i in range(10):
    if i == 5:
        break
    else:
        print(i)
else:
    print("Here")

0
1
2
3
4

#### 13. 정답 : c

In [33]:
# 13-2번 문제
for i in range(5):
    if i == 5:
        break
    else:
        print(i)
else:
    print("Here")

0
1
2
3
4
Here

#### 13-2. 정답 : a

#### 14. 정답 : d

#### 15. 정답 : c

In [34]:
#16번 문제
def C2F(c):
    return c * 9/5 + 32
print (C2F(100))
print( C2F(0))

212.0
32.0

#### 16. 정답 : a

#### 17. 정답 : c

In [21]:
import pandas as pd
data = {
    'age' : [4,3,6,4,2,5],
    'color' : ['brown','grey','golden','grey','black','brown'],
    'fur' : ['shaggy','short','curly','shaggy','curly','shaggy'],
    'name' : ['odie','gabe','samosa','gabe','bob barker','odie']
}

index = [123,456,821,198,3,42]
dogs = pd.DataFrame(data, index=index)
dogs

     age   color     fur        name
123    4   brown  shaggy        odie
456    3    grey   short        gabe
821    6  golden   curly      samosa
198    4    grey  shaggy        gabe
3      2   black   curly  bob barker
42     5   brown  shaggy        odie

In [22]:
dogs['age'].max()

6

In [24]:
dogs.loc[dogs['age']==max(dogs['age'])]['name']

821    samosa
Name: name, dtype: object

#### 18. 정답 : c

In [25]:
dogs['fur'].value_counts(normalize=True).max()

0.5

#### 19. 정답 : b

In [35]:
# 20번 문제
dogs['age'].describe()

count    6.000000
mean     4.000000
std      1.414214
min      2.000000
25%      3.250000
50%      4.000000
75%      4.750000
max      6.000000
Name: age, dtype: float64

#### 20. 정답 : b

In [45]:
import pandas as pd

data = {
    'food': ['bacon', 'pulled pork', 'bacon', 'pastrami', 'corned beef', 'bacon', 'pastrami', 'honey ham', 'nova lox'],
    'ounces': [4.0, 3.0, 12.0, 6.0, 7.5, 8.0, 3.0, 5.0, 6.0]
}
df = pd.DataFrame(data)
df

          food  ounces
0        bacon     4.0
1  pulled pork     3.0
2        bacon    12.0
3     pastrami     6.0
4  corned beef     7.5
5        bacon     8.0
6     pastrami     3.0
7    honey ham     5.0
8     nova lox     6.0

In [42]:
meat_to_animal = {'bacon': 'pig', 'pulled pork': 'pig', 'pastrami': 'cow',
'corned beef': 'cow', 'honey ham': 'pig', 'nova lox': 'salmon'}

In [46]:
# 21번 문제
df['animal'] = df['food'].map(meat_to_animal)

df

          food  ounces  animal
0        bacon     4.0     pig
1  pulled pork     3.0     pig
2        bacon    12.0     pig
3     pastrami     6.0     cow
4  corned beef     7.5     cow
5        bacon     8.0     pig
6     pastrami     3.0     cow
7    honey ham     5.0     pig
8     nova lox     6.0  salmon

#### 21. 정답 : a

In [49]:
df['ounces'] = df['ounces'].replace(12, 10)

#### 22. 정답 : a