#### class1 2675번 문자열 반복

In [7]:
n = int(input())

for _ in range(n):
    cnt, word = input().split()
    for x in word:
        print(x*int(cnt), end='')  # end='' 옆으로 붙임
    print()  # 줄넘김

aaabbbccc
/////hhhhhtttttppppp

#### class1 11720번 숫자의 합

In [11]:
n_1 = int(input())
n_2 = input()

print(sum(int(x) for x in n_2))

3

#### class1 10818번 최대 최소 문제

In [20]:
n_1 = int(input())
number1 = list(map(int,input().split()))
print(min(number1),max(number1))

7 35

#### class1 11654번 아스키코드 출력

In [22]:
n1 = input()
print(ord(n1))

48

#### class1 1152번 단어의 개수

In [23]:
word = input().split()
print(len(word))

6

#### class1 2577번 숫자의 개수

In [26]:
A = int(input())
B = int(input())
C = int(input())

result = list(str(A*B*C))
for i in range(10):
    print(result.count(str(i)))

3
1
0
2
0
0
0
2
0
0

In [31]:
a = 'apple'
print(a.count(str('v')))

0

#### class1 2475번 검증수

In [38]:
num_1 = input().split()
y = 0
for i in range(5):
    x = int(num_1[i]) * int(num_1[i])
    y = y + x
print(y%10)

1

In [39]:
num_1 = list(map(int,input().split()))
y = 0
for i in range(5):
    x = num_1[i] * num_1[i]
    y = y + x
print(y%10)

1

#### class1 10871번 X보다 작은수

In [43]:
N, X = input().split()
A = input().split()
for i in range(len(A)):
    if int(A[i]) < int(X):
        print(int(A[i]),end=' ')
    else:
        continue

1 4 2 3

#### class 1 31403번 A+B-C

In [47]:
A = int(input())
B = int(input())
C = int(input())
print(A+B-C)
print(int(str(A)+str(B))-C)

2
29

#### class1 10250번 ACM 호텔

In [53]:
# 꼭대기 층일때가 관건.
T = int(input())
for _ in range(T):
    H, W, N = map(int, input().split())
    floor = N % H
    if floor == 0:
        floor = H
        room_number = N // H
    else:
        room_number = N // H + 1
    print(floor * 100 + room_number)

402
1203

#### class1 2920번 음계

In [56]:
music = input().split()
ascending = ['1', '2', '3', '4', '5', '6', '7', '8' ]
descending = ['8', '7', '6', '5', '4', '3', '2', '1' ]
if music == ascending:
    print('ascending')
elif music == descending:
    print('descending')
else:
    print('mixed')

mixed

#### class1 3052번 나머지

In [72]:
# not in 조건문 이용
num = []
for _ in range(10):
    n = int(input())%42
    if n not in num:
        num.append(n)

print(len(num))
print(num)

9
[1, 0, 3, 16, 23, 27, 40, 36, 34]

#### class1 8958번 OX문제

In [75]:
T = int(input())
for _ in range(T):
    ox_list = list(input())
    score = 0
    sum_score = 0
    for ox in ox_list:
        if ox == 'O':
            score += 1
            sum_score += score
        else:
            score = 0
    print(sum_score)

10

In [ ]:
T = int(input())
for _ in range(T):
    score = 0
    sum_score = 0
    ox_list = list(input())
    for ox in ox_list:
        if ox == 'O':
            score += 1
            sum_score += score
        else:
            score = 0
    print(sum_score)

In [85]:
T = int(input())
score = 0
sum_score = 0
for _ in range(T):
    ox_list = list(input())
    for ox in ox_list:
        if ox == 'O':
            score += 1
            sum_score += score
        else:
            score = 0
    print(sum_score)

10

#### class 1 10809번 알파벳 찾기문제

In [81]:
T = list(input())
abc = 'abcdefghijklmnopqrstuvwxyz'
for i in abc:
    if i in T:
        print(T.index(i), end=' ')
    else:
        print(-1, end = ' ')

1 0 -1 -1 2 -1 -1 -1 -1 4 3 -1 -1 7 5 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 ['b', 'a', 'e', 'k', 'j', 'o', 'o', 'n']

In [82]:
asv = ['z','c','v']
asv.index('z')

0

In [84]:
T = list(input())
abc = 'abcdefghijklmnopqrstuvwxyz'
for i in abc:
    if i in T:
        print(T.index(i), end = ' ')
    else:
        print(-1, end= ' ')

1 0 -1 -1 2 -1 -1 -1 -1 4 3 -1 -1 7 5 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1