#### 1.

In [2]:
w = int(input())
t= int(input())
BMI = w/(t**2)

print(BMI)

0.002104981790236894

#### 2.

In [5]:
x = int(input('첫 번째 수를 입력하시오:'))
y = int(input('첫 번째 수를 입력하시오:'))
z = int(input('첫 번째 수를 입력하시오:'))

avg = (x + y + z)/3
print('평균=',avg)

평균= 20.0

#### 3.

In [7]:
age = int(input())

if age >= 15:
    print('입장 가능')

else:
    print('입장 불가')

입장 불가

#### 4.

In [11]:
ID = input()

if ID == 'ilovepython':
    print('환영합니다')

환영합니다

#### 5.

In [19]:
n = int(input())
result = 1
num_1 = 1

for i in range(n):
    result = result*num_1
    num_1 += 1

print(result)

120

#### 6.

In [20]:
bread = ['호밀빵','위트','화이트']
meat = ['미트볼','소시지','닭가슴살']
vege = ['양상추','토마토','오이']
sauce = ['마요네즈','허니 머스타드','칠리']

for i in bread:
    for j in meat:
        for x in vege:
            for y in sauce:
                print(f'{i} + {j} + {x} + {y}')

호밀빵 + 미트볼 + 양상추 + 마요네즈
호밀빵 + 미트볼 + 양상추 + 허니 머스타드
호밀빵 + 미트볼 + 양상추 + 칠리
호밀빵 + 미트볼 + 토마토 + 마요네즈
호밀빵 + 미트볼 + 토마토 + 허니 머스타드
호밀빵 + 미트볼 + 토마토 + 칠리
호밀빵 + 미트볼 + 오이 + 마요네즈
호밀빵 + 미트볼 + 오이 + 허니 머스타드
호밀빵 + 미트볼 + 오이 + 칠리
호밀빵 + 소시지 + 양상추 + 마요네즈
호밀빵 + 소시지 + 양상추 + 허니 머스타드
호밀빵 + 소시지 + 양상추 + 칠리
호밀빵 + 소시지 + 토마토 + 마요네즈
호밀빵 + 소시지 + 토마토 + 허니 머스타드
호밀빵 + 소시지 + 토마토 + 칠리
호밀빵 + 소시지 + 오이 + 마요네즈
호밀빵 + 소시지 + 오이 + 허니 머스타드
호밀빵 + 소시지 + 오이 + 칠리
호밀빵 + 닭가슴살 + 양상추 + 마요네즈
호밀빵 + 닭가슴살 + 양상추 + 허니 머스타드
호밀빵 + 닭가슴살 + 양상추 + 칠리
호밀빵 + 닭가슴살 + 토마토 + 마요네즈
호밀빵 + 닭가슴살 + 토마토 + 허니 머스타드
호밀빵 + 닭가슴살 + 토마토 + 칠리
호밀빵 + 닭가슴살 + 오이 + 마요네즈
호밀빵 + 닭가슴살 + 오이 + 허니 머스타드
호밀빵 + 닭가슴살 + 오이 + 칠리
위트 + 미트볼 + 양상추 + 마요네즈
위트 + 미트볼 + 양상추 + 허니 머스타드
위트 + 미트볼 + 양상추 + 칠리
위트 + 미트볼 + 토마토 + 마요네즈
위트 + 미트볼 + 토마토 + 허니 머스타드
위트 + 미트볼 + 토마토 + 칠리
위트 + 미트볼 + 오이 + 마요네즈
위트 + 미트볼 + 오이 + 허니 머스타드
위트 + 미트볼 + 오이 + 칠리
위트 + 소시지 + 양상추 + 마요네즈
위트 + 소시지 + 양상추 + 허니 머스타드
위트 + 소시지 + 양상추 + 칠리
위트 + 소시지 + 토마토 + 마요네즈
위트 + 소시지 + 토마토 + 허니 머스타드
위트 + 소시지 + 토마토 + 칠리
위트 + 소시지 + 오이 + 마요네즈
위트 + 소시지 + 오이 + 허니 머스타드
위트 + 소시지 + 오이 + 칠리
위트 + 닭가슴살 + 양상추 + 마요네즈
위트 + 닭가슴살 + 양상추 + 허니 머스타드
위트 + 닭가슴살 + 양상추 + 칠리
위트 + 닭가슴살 + 토마토 + 마요네즈
위트 + 닭가슴살 + 토마토 + 허니 머스타드
위트 + 닭가슴살 + 토마토 + 칠리
위트 + 닭가슴살 + 오이 + 마요네즈
위트 + 닭가슴살 + 오이 + 허니 머스타드
위트 + 닭가슴살 + 오이 + 칠리
화이트 + 미트볼 + 양상추 + 마요네즈
화이트 + 미트볼 + 양상추 + 허니 머스타드
화이트 + 미트볼 + 양상추 + 칠리
화이트 + 미트볼 + 토마토 + 마요네즈
화이트 + 미트볼 + 토마토 + 허니 머스타드
화이트 + 미트볼 + 토마토 + 칠리
화이트 + 미트볼 + 오이 + 마요네즈
화이트 + 미트볼 + 오이 + 허니 머스타드
화이트 + 미트볼 + 오이 + 칠리
화이트 + 소시지 + 양상추 + 마요네즈
화이트 + 소시지 + 양상추 + 허니 머스타드
화이트 + 소시지 + 양상추 + 칠리
화이트 + 소시지 + 토마토 + 마요네즈
화이트 + 소시지 + 토마토 + 허니 머스타드
화이트 + 소시지 + 토마토 + 칠리
화이트 + 소시지 + 오이 + 마요네즈
화이트 + 소시지 + 오이 + 허니 머스타드
화이트 + 소시지 + 오이 + 칠리
화이트 + 닭가슴살 + 양상추 + 마요네즈
화이트 + 닭가슴살 + 양상추 + 허니 머스타드
화이트 + 닭가슴살 + 양상추 + 칠리
화이트 + 닭가슴살 + 토마토 + 마요네즈
화이트 + 닭가슴살 + 토마토 + 허니 머스타드
화이트 + 닭가슴살 + 토마토 + 칠리
화이트 + 닭가슴살 + 오이 + 마요네즈
화이트 + 닭가슴살 + 오이 + 허니 머스타드
화이트 + 닭가슴살 + 오이 + 칠리

#### 7.

In [21]:
def weeklyPay(rate,hour):
    if hour <= 30:
        pay = rate*hour
    else:
        pay = rate*hour*1.5
    return pay

weeklyPay(10000,40)

600000.0

#### 8.

In [22]:
def ans(r):
    l = 2*3.14*r
    s = r**2*3.14
    return l,s

ans(3)

(18.84, 28.26)

#### 9.

In [24]:
import numpy as np
heights = np.array([1.83, 1.76, 1.69, 1.86, 1.77, 1.73])
weights = np.array([86, 74, 59, 95, 80, 68])

bmi = weights / heights**2
print(bmi)

[25.68007405 23.88946281 20.65754    27.45982194 25.53544639 22.72043837]

#### 10.

In [27]:
import pandas as pd
file_path = '/Users/imdaegyeong/Desktop/archive/Train.csv'

df = pd.read_csv(file_path)
print(df)

      feature_1  feature_2  feature_3  feature_4  feature_5  feature_6  \
0           100        160     1.6000          0          0          0
1            20         83     4.1500          1          0          0
2            99        150     1.5151          1          0          0
3            40         40     1.0000          0          0          0
4            12        234    19.5000          1          0          0
...         ...        ...        ...        ...        ...        ...
1758          1          1     2.0000          1          0          0
1759         40        200     5.0000          1          0          0
1760         96        218     2.2708          1          0          0
1761         16         81     5.0625          1          0          0
1762         36         41     1.1388          0          0          0

      feature_7  feature_8  feature_9  feature_10  ...  feature_1550  \
0             0          0          0           0  ...             0
1             0          0          0           1  ...             0
2             0          0          0           0  ...             0
3             0          0          0           0  ...             0
4             0          0          0           0  ...             0
...         ...        ...        ...         ...  ...           ...
1758          0          0          0           0  ...             0
1759          0          0          0           0  ...             0
1760          0          0          0           0  ...             0
1761          1          0          0           0  ...             0
1762          0          0          0           0  ...             0

      feature_1551  feature_1552  feature_1553  feature_1554  feature_1555  \
0                0             0             0             0             0
1                0             0             0             0             1
2                0             0             0             0             0
3                0             0             0             0             0
4                0             0             0             0             0
...            ...           ...           ...           ...           ...
1758             0             0             0             0             0
1759             0             0             0             0             0
1760             0             0             0             0             0
1761             0             0             0             0             0
1762             0             0             0             0             0

      feature_1556  feature_1557  feature_1558  Class
0                0             0             0      0
1                0             0             0      0
2                0             0             0      0
3                0             0             0      0
4                0             0             0      0
...            ...           ...           ...    ...
1758             0             0             0      0
1759             0             0             0      0
1760             0             0             0      0
1761             0             0             0      0
1762             0             0             0      0

[1763 rows x 1559 columns]