In [15]:
score = [ 32,56,64,72,12,37,98,77,59,69]
print(score[0])

32

In [16]:
score_1 = list(i for i in range(0,10))
print(score_1[2:7:2])

[2, 4, 6]

In [17]:
a = ['apple','banana','cherry','orange','kiwi']
print(a[:3])
print(a[2:4])
print(a[:3])
print(a[2:])
print(a[-1])

['apple', 'banana', 'cherry']
['cherry', 'orange']
['apple', 'banana', 'cherry']
['cherry', 'orange', 'kiwi']
kiwi

In [18]:
print('리스트 뒤에 추가')
List = [1,2,3,4]
List.append(5)
print(List)

리스트 뒤에 추가
[1, 2, 3, 4, 5]

In [19]:
print('리스트 중간에 추가')
List = [1,2,3,4]
List.insert(2,5)
print(List)

리스트 중간에 추가
[1, 2, 5, 3, 4]

In [21]:
t1= 0
t2=(2,)
t3=(1,2,3)
t4=1,2,3
t5=('a','b',('ab','cd'))

print(t1)
print(t2)
print(t3)
print(t4)
print(t5)

0
(2,)
(1, 2, 3)
(1, 2, 3)
('a', 'b', ('ab', 'cd'))

In [22]:
t1 = (1,2,'a','b')
t1[0]

1

In [23]:
a = {1:'a'}
a[2] = 'b'
print(a)

{1: 'a', 2: 'b'}

In [24]:
a = 11 + 2
b = 12 - 2
c = 13 * 2
d = 14 /2
e = 15 ** 2
f = 16//2
g = 17 % 3
print(a,b,c,d,e,f,g)

13 10 26 7.0 225 8 2

In [25]:
a = 11 + 6-4*3**2
print(a)

-19

In [27]:
c = 11**2*3.14
print('원의 면적:',c)

원의 면적: 379.94

In [33]:
a = 11 + 2
b = 12 - 2

print(a>b)
print(a>=b)
print(a<b)
print(a<=b)
print(a==b)
print(a!=b)

True
True
False
False
False
True

In [28]:
a  = True
b = False

print(a and b)
print(a or b)
print(not a)
print(not b)

False
True
False
True

In [31]:
list_3 = list(i for i in range(1,100))
reverse_list = list_3.reverse()

print(list_3)
reverse_list.sort()
print(reverse_list)

[99, 98, 97, 96, 95, 94, 93, 92, 91, 90, 89, 88, 87, 86, 85, 84, 83, 82, 81, 80, 79, 78, 77, 76, 75, 74, 73, 72, 71, 70, 69, 68, 67, 66, 65, 64, 63, 62, 61, 60, 59, 58, 57, 56, 55, 54, 53, 52, 51, 50, 49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

AttributeError: 'NoneType' object has no attribute 'sort'

#### 실습 1

In [39]:
og_money  = int(input('원금(원):'))
rate = int(input('연 이율(%):'))
year = int(input('기간 (년)):'))

result = og_money*((1+rate/100)**year)

print(f'원금(원) : {og_money}')
print(f'연 이자율(%) : {rate}')
print(f'기간(년) : {year}')
print()
print(f'{year}년 후 원리금은 {int(result)}원 입니다.')

원금(원) : 100000
연 이자율(%) : 5
기간(년) : 5

5년 후 원리금은 127628원 입니다.

#### 실습 2

In [40]:
a = int(input('a 입력 :'))
b = int(input('b 입력 :'))
c = int(input('c 입력 :'))

result_2 = a*2**2 + b*2 + c*1

print('이진수 abc에 대하여')
print(f'a 입력 : {a}')
print(f'b 입력 : {b}')
print(f'c 입력 : {c}')
print()
print(f'2진수 {str(a)+str(b)+str(c)}를 10진수로 변환하면 {result_2}입니다.')

이진수 abc에 대하여
a 입력 : 1
b 입력 : 0
c 입력 : 1

2진수 101를 10진수로 변환하면 5입니다.

#### 실습 3

In [41]:
# list_1 = list(map(int,input().split()))
list_1 = [1,7,22,55,20,30,40,33]

print(f'최대 원소값은 {max(list_1)} 입니다.')

최대 원소값은 55 입니다.

In [46]:
# list_4 = list(map(int,input().split()))
list_4 = [1,7,22,55,20,30,40,33]
max_list = [list_4[0]]

for i in list_4:
    if i >= max_list[-1]:
        max_list[0] = i

print(int(max_list[0]))

55

##### 데이터(자료)구조론, 알고리즘, 데이터베이스