## 데이터 구조

In [3]:
# _는 숫자에 영향을 미치지 않는다
1_000_000

1000000

In [4]:
# 0에 가깝도록 숫자를 버린다
int(-3/2)

-1

In [5]:
# int 타입은 자리수 제한이 없다.
x=9999999999999999999999999999999999999999999999
x*x

99999999999999999999999999999999999999999999980000000000000000000000000000000000000000000001

In [10]:
# nan 도 float으로 다룬다.
nan = float('nan')
nan * nan +1

nan

### float 타입 사용시 직관적인 계산 불가능한 지점 발생

In [11]:
# round() 함수
round(0.1+0.1+0.1 , 1)

0.3

In [12]:
0.1+0.1+0.1 == 0.3

False

### 문자열

In [13]:
a = 'note\nbook'
print(a)

note
book

In [15]:
b = """
a
b
c
"""

print(b)

a
b
c

In [16]:
for char in 'book':
    print(char)

b
o
o
k

In [19]:
a = 'book'
if 'ooo' in a:
    print('True')
else:
    print('False')

False

### 문자열에서 변수이용

In [23]:
title = 'book'
f'practice {"note"+title}'

'practice notebook'

#### f-string 이용

In [27]:
title = 'sketchbook'
note = 'note'

f'{title.upper()=},{note=}'

"title.upper()='SKETCHBOOK',note='note'"

#### format() 이용

In [29]:
'python {} {}'.format('practice','book')

'python practice book'

In [39]:
'python {1} {0}'.format('book','practice')

'python practice book'

#### 딕셔너리와 함께 이용하면 편리하다.

In [42]:
d_1 = {'x':'note','y':'notebook','z':'sketchbook'}
books = '{x} {z}'
books.format(**d_1)

'note sketchbook'

### % 연산자

In [43]:
book = 'book'
'note%s' %(book)

'notebook'

### str,bytes 타입 변환

In [48]:
book = '파이썬실천기술'
encoded = book.encode('utf-8')
type(encoded)
encoded
encoded.decode('utf-8')

'파이썬실천기술'

In [50]:
list('book')

['b', 'o', 'o', 'k']

In [55]:
list = [1,2,3,4]
list = [5] + list
del list[2]
list

[5, 1, 3, 4]

In [58]:
a=3,3,2,4,5
a

(3, 3, 2, 4, 5)

In [60]:
item = [ 1,2,3,4,5]
for i in item:
    print(i)

1
2
3
4
5

In [64]:
# [리스트 엘레먼트 for 변수 in 이터러블 객체]
[str(v) for v in range(10)]

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

In [67]:
[(x,y) for x in [1,2,3] for y in [4,5,6]]

[(1, 4), (1, 5), (1, 6), (2, 4), (2, 5), (2, 6), (3, 4), (3, 5), (3, 6)]

In [68]:
[x for x in range(10) if x % 2 == 0]

[0, 2, 4, 6, 8]